.topup__radio {
  .ant-radio-wrapper {
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    flex-direction: row-reverse;

    span:nth-child(2) {
      flex: 1;
      padding: 0;
    }
    &::after {
      content: none;
    }
  }
}
