@use '/src/styles/variables.scss' as *;

.order__summary {
  box-shadow: $box-shadow;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h5 {
    font-size: 1.3rem;
    font-weight: $text-bold;
    margin-bottom: 0.8rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0.5rem 0;
      border-bottom: 1px dashed $primary-30;

      span {
        &:first-child {
          font-size: 0.9rem;
          color: $gray;
        }
        &:last-child {
          font-weight: $text-medium;
          font-size: 0.9rem;
        }
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.4rem 0;
      font-size: 1.1rem;
      font-weight: $text-bold;
      span {
        &:first-child {
          color: $primary-70;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 64px;
    left: 0;
    background-color: white;
    width: 100vw;
    gap: 0.3rem;
  }
}
