@use '../../../../../styles/variables.scss' as *;

.ps {
  box-shadow: $box-shadow;

  &__title {
    font-size: 1.25rem;
    font-weight: $text-bold;
    margin-bottom: 0.5rem;
  }

  &__dimension {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    > * {
      flex: 1;
    }
  }

  &__input {
    width: 100%;
  }

  &__info {
    color: $gray;
  }

  &__header {
    margin-bottom: 1rem;
  }
}
