@use 'src/styles/variables' as *;
.cart__page {
  h5 {
    font-size: 2.5rem;
    margin: 1.8rem 0;
    font-weight: $text-bold;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    font-weight: $text-medium;

    p,
    &__button {
      color: $primary-70;
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 170px;
  }
}
