@use 'src/styles/variables.scss' as *;

.order {
  &__detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
      font-size: 1.1rem;
    }

    &__header {
      h6 {
        font-size: 1.5rem;
        font-weight: $text-bold;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
