.input-qty {
  .ant-input-number-handler {
    display: none !important;
  }

  .ant-input-number-input {
    text-align: center !important;
  }
  .ant-input-number-group-addon {
    padding: 0;
  }
}
