@use 'src/styles/variables' as *;
.list__product__store__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h5 {
    font-size: 2rem;
    font-weight: $text-bold;
  }
  margin-bottom: 2rem;
}
