@use '../../../../styles/variables.scss' as *;

.seller__products {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: $text-bold;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }
}
