@use '../../../styles/variables.scss' as *;
.list__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card__product_skeleton {
  box-shadow: $box-shadow;
  padding: 0;
  font-size: 0.75rem;
  transition: all 0.4s ease;
  min-height: 390px;
  border-radius: 0.75rem;
  overflow: hidden;
  min-width: 230px;
  flex-basis: 15.77%;

  @media screen and (max-width: 768px) {
    flex-basis: 40%;
    min-width: 150px;
  }

  @media screen and (max-width: 1068px) {
    flex-basis: 40%;
    min-width: 150px;
  }
}
