@use 'src/styles/variables' as *;
.list__cart__store__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h5 {
    font-size: 2rem;
    font-weight: $text-bold;
  }
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    gap: 1rem;
    h5 {
      font-size: 1.2rem;
    }
  }
}
