@use '../../styles/variables' as *;

.sr {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }

  &__title {
    font-weight: $text-bold;
    margin-bottom: 1rem;
  }

  &__left {
    min-width: 250px;

    @media screen and (max-width: 768px) {
      min-width: 0;
    }
  }
}
