@use 'src/styles/variables.scss' as *;
.table__promotions {
  &__cv {
    display: flex;
    gap: 1rem;
    width: fit-content;
    &__info {
      text-align: left;
      &__name {
        font-weight: $text-bold;
      }
    }
  }

  &__tp {
    display: flex;

    flex-direction: column;

    &__header__tag {
      width: fit-content;
    }

    &__item {
      display: flex;
      gap: 1rem;
      align-items: center;
      &:first-child {
        font-weight: $text-bold;
      }
    }
  }
  .list {
    list-style-type: disc;
  }

  &__pagination {
    text-align: center;
    margin-top: 1rem;
  }
}
