@use '../../../../../styles/variables' as *;
.product__info {
  h3 {
    font-size: 1.9rem;
    font-weight: $text-bold;
    margin-bottom: 0.7rem;
  }

  &__rating {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    color: $gray;
    .rating {
      margin-right: 1rem;
    }
  }

  &__price {
    display: grid;
    gap: 1rem;
    align-items: center;
    span {
      font-size: 1rem;
      font-weight: $text-regular;
      color: $gray;
    }

    &__disc {
      display: flex;
      span {
        font-size: 1rem;
        color: $gray;
      }
    }

    &__real {
      span {
        font-size: 1.5rem;
        color: $primary-90;
        font-weight: $text-bold;
      }
    }
  }
}
