@use '../../../styles/variables.scss' as *;

.nav {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: $box-shadow;
  background: white !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white !important;
  padding-inline: 0; 
  line-height: normal;



  &__button {
    display: flex;
    justify-content: space-between;
  }
}
