@use '../../../../styles/variables.scss' as *;

.fs {
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  &__text {
    font-weight: $text-bold;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
